<div class="action-container">
    <p class="notes gmonly" style="display: none;">This action can only be performed when a GM is present</p>
    <div class="form-group">
        <label for="action">{{localize "MonksActiveTiles.Action"}}</label>
        <div class="form-fields">
            <select name="action" data-dtype="String">
                {{ selectGroups availableActions selected=action }}
            </select>
        </div>
    </div>
    <div class="action-controls">
    </div>
</div>